{% extends 'base.html' %}

{% block content %}
<h1>Minecraft Dungeons</h1>
<p>Minecraft Dungeons (рус. Minecraft Подземелья) — это ролевая видеоигра жанра экшн/приключение, разработанная Mojang Studios, Xbox Game Studios и Double Eleven. Она была выпущена 26 мая 2020 года для Windows, Xbox One, Nintendo Switch и PlayStation 4. Base Game доступна за US$19.99 (€19.99, £16.74, AU$29.95) и Hero Edition за US$29.99 (€29.99, £24.99, AU$39.95), который включает в себя Hero Pass, который включает в себя Плащ героя, животное цыплёнок, скины Пэйк и Варген и DLC-паки Jungle Awakens и Creeping Winter.[14] Версии для Windows 10 и Xbox One также доступны как часть Xbox Game Pass.</p>
<a href = 'home'>На главную</a>
{% endblock %}