{% extends 'base.html' %}

{% block content %}
<p>Добро пожаловать на Minecraft Wiki — доступную и свободную для редактирования вики, где каждый может найти информацию о Minecraft и объектах, связанных с ним. Сейчас на вики 5538 статей, которые обслуживаются 14 активными участниками из числа сообщества Minecraft. Внести свой вклад может каждый!</p>
<br>
<h3>Поддерживаемые игры</h3>
<p><a href = '/minecraft'>Minecraft</a> — это 3D-«песочница», разработанная компанией Mojang Studios, где игрок взаимодействует с игровым миром через размещение и разрушение различных блоков в трёх разных измерениях. Разнообразный игровой процесс позволяет игрокам самим выбирать пути прохождения игры, открывая бесчисленные возможности.
Minecraft имеет четыре поддерживаемых издания: Java Edition, Bedrock Edition, Education Edition и China Edition.</p>
<br>
<p><a href="/minecraft_dungion">Minecraft Dungeons</a> — это ролевая видеоигра жанра «экшн/приключение», где игроки могут путешествовать по процедурно генерируемым уровням и сражаться лицом к лицу с монстрами и главным антагонистом игры — архизлодеянином.
Minecraft Dungeons Arcade — это адаптация Minecraft Dungeons под аркадный режим, в котором для прохождения уровней и победы над большими группами мобов требуются четыре игрока. Игроки могут получить снаряжение, скины и питомцев, сканируя коллекционные карты.</p>
<br>
<p>Minecraft Legends — это стратегическая игра в реальном времени, где игроку необходимо освободить Верхний мир от пиглинов.</p>
<br> 
<h3>Более не поддерживаемые игры</h3>
<br>
<p>Minecraft: Story Mode была эпизодической приключенческой видеоигрой, основанной на игре жанра «песочница» Minecraft и разработанной компанией Telltale Games, где игрок принимал решения, влияющие на дальнейшее развитие сюжета.
Minecraft: Story Mode - Season Two была сиквелом Minecraft: Story Mode и продолжением истории приключений оригинальной игры с элементами из более новых версий Minecraft.</p>
<br>   
<p>Minecraft Earth — это мобильная игра с дополненной реальностью (AR), где игроки путешествуют по реальным локациям, чтобы строить сооружения и собирать ресурсы. Она имеет множество уникальных аспектов игрового процесса и взаимодействий, похожих на основную игру. С 30 июня 2021 года больше не поддерживается разработчиками.</p>

{% endblock %}